@tailwind base;
@tailwind components;
@tailwind utilities;

.container-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.container-header__text {
	display: flex;
	gap: 15px;
	align-items: center;
}

.container-header__icon {
	border: 1px solid var(--p-color-bg-fill-inverse-active);
	padding: 5px;
}

.Polaris-RadioButton__Input:checked:not([disabled])
	+ .Polaris-RadioButton__Backdrop {
	background-color: #fff !important;
	border-color: #ff1111 !important;
}

.Polaris-RadioButton__Input:checked + .Polaris-RadioButton__Backdrop::before {
	background-color: #ff1111 !important;
}
